/* Background color for the projects section */
.projects {
    background-image: var(--bg-color);
}

/* Wrapper for the projects section, ensuring full height and centering content */
.projects__wrapper {
    min-height: 100vh;
    display: grid;
    align-items: center;
    margin-bottom: 220px;
}

/* Subtitle styling within the projects section */
.projects__subtitle {
    color: hsl(0, 0%, 50%);
    font-size: var(--tiny-font-size);
    font-weight: 600;
    margin-bottom: 14px;
    display: block;
}

/* Title styling within the projects section */
.projects__title {
    font-size: var(--h5-font-size);
    font-weight: 500;
    margin-bottom: 8px;
}

/* Image styling for project cards */
.project__image {
    width: 100%;
    height: auto;
    max-height: 330px;
    border-radius: 20px;
    margin-bottom: 28px;
}

/* Content area within each project card */
.project__cardcontent {
    align-self: flex-start;
    width: 100%;
    margin-bottom: 60px;
  }

/* Project grid layout */
.project__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    margin: 0 auto;
  }
  
/* Individual project card styling */
.project__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    border: 2px solid hsl(16, 100%, 98%);
    min-width: 580px;
    max-height: 480px;
    overflow: hidden; 
    border-radius: 18px;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  }
  
/* Hover effect for project cards */
.project__card:hover {
    background: hsl(0, 0%, 100%);
    transform: scale(1.02);
    box-shadow: 0 16px 24px rgba(185, 138, 121, 0.2);
    text-decoration: none;
  }
  