/* Videos Section */
.videos {
    background-color: hsl(16, 100%, 98%);
    min-height: 100vh;
}

.videos__heading {
    padding-top: 60px;
}

.video__container {
    text-align: center;
    max-width: 50%;
    margin: 0 auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #dbc8c0;
    max-width: 640px;
}

.iframe-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    top: 0;
}

.video-iframe {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    height: 100%;
    max-width: 100%;
}

/* Video Content */
.video__content {
    text-align: left;
}

.video__content h3, .video__content h4 {
    margin-bottom: 10px;
}

.video__title,
.video,
.video__paragraph,
.video__content-list {
    font-family: var(--body-font);
    line-height: 1.7;
    margin-bottom: 24px;
}

.video__title {
    font-size: var(--largest-font-size);
    color: var(--title-color);
}

.video__content img {
    margin-bottom: 32px;
    border-radius: 12px;
}

.readscript,
.readmore {
    display: inline-block;
    padding-bottom: 30px;
    font-size: var(--large-font-size);
    font-weight: 500;
    text-decoration: underline;
    color: var(--primary-color);
    transition: all 0.3s ease-in-out;
}

.readscript:hover,
.readmore:hover {
    color: var(--text-color);
}

.button__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.comments__container {
    margin-bottom: 120px;
}

.comments__heading {
    max-width: 800px;
    margin: 100px auto;
    padding: 20px;
}

.comments__heading h2 {
    font-size: var(--h4-font-size);
    color: var(--title-color);
    margin-bottom: 24px;
    text-align: center;
}

.comments_form,
.edit__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.comments_form label,
.edit__form label {
    font-size: var(--smaller-font-size);
    color: var(--text-color);
    font-weight: 700;
    line-height: 1.7;
    margin-left: 30px;
}

.comments_form input,
.comments_form select,
.comments_form textarea,
.edit__input,
.edit__textarea {
    width: 100%;
    height: 60px;
    padding-inline: 30px;
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
    line-height: 1.5rem;
    color: var(--text-color);
    border: 2px solid var(--border-color);
    border-radius: 30px;
    background-color: var(--container-color);
    outline: none;
    transition: border-color 0.3s ease;
}

.comments_form .author__dropdown {
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="8" viewBox="0 0 14 8"><path fill="none" stroke="%23000" stroke-width="2" d="M1 1l6 6 6-6"/></svg>');
    background-repeat: no-repeat;
    background-position: right 1.5rem center;
    background-size: 1rem;
}

.textarea__container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 50px;
}

.upload__icons {
    width: 100%;
    position: absolute;
    bottom: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.upload__icon {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease;
}

.preview__section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.preview__section img,
.preview__section video {
    max-width: 100%;
    max-height: 200px;
    margin-top: 10px;
}

.upload__icon:hover {
    color: var(--primary-color);
    transform: scale(1.1);
}

.upload__input {
    display: none;
}

.comments_form textarea,
.edit__textarea {
    height: 180px;
    padding: 20px 40px 40px 20px;
    resize: vertical;
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
    line-height: 1.5rem;
}

.comments_form input:focus,
.comments_form select:focus,
.comments_form textarea:focus,
.edit__input:focus,
.edit__textarea:focus {
    border-color: var(--primary-color);
}

.form__group {
    display: grid;
    row-gap: 10px;
    margin-bottom: 24px;
    position: relative;
}

.form__buttons,
.edit__buttons-container {
    display: flex;
    gap: 70px;
    justify-content: flex-end;
}

.sharecomment__button:disabled {
    color: #909090;
    cursor: not-allowed;
}

.posts__container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
}

.posts__heading {
    font-family: var(--second-font);
    font-size: var(--h2-font-size);
    font-weight: 700;
    color: var(--title-color);
    margin-bottom: 20px;
    border-bottom: 1px solid #dbc8c0;
    padding-bottom: 20px;
}

.posts {
    padding: 16px 0;
    margin-bottom: 32px;
}

.posts__title,
.posts__content,
.posts__time {
    padding-bottom: 8px;
}

.posts__title {
    font-size: var(--large-font-size);
    color: var(--text-color);
    font-weight: 600;
}

.posts__author {
    font-size: var(--small-font-size);
    color: #8f8f8f;
}

.posts__author-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin-bottom: 20px;
}

.edit__button {
    font-size: var(--small-font-size);
    font-weight: 600;
    color: var(--primary-color);
}

.posts__reactions {
    display: flex;
    gap: 20px;
    font-size: var(--smaller-font-size);
    cursor: pointer;
}

@media all and (max-width:480px) {
    .videos__heading {
        padding-top: 60px;
    }

    .video__paragraph {
        font-size: var(--large-font-size);
        margin-bottom: 16px;
    }

    .video__content-heading {
        margin: 1rem 0 2rem 0;
    }

    .video__container {
        max-width: 90%;
    }

    .video__content img {
        border-radius: 8px;
        min-width: 320px;
        min-height: 180px;
    }

    .video__content h3 {
        font-size: var(--h4-font-size);
    }

    .video__content h4 {
        font-size: var(--largest-font-size);
    }

    .video__content-list {
        font-size: var(--large-font-size);
    }

    .comments__heading {
        margin: 60px 0;
        min-width: 100%;
        padding: 16px;
    }

    .comments__heading h2 {
        margin-bottom: 60px;
    }

    .comments_form label,
    .edit__form label {
        font-size: var(--large-font-size);
    }

    .comments_form input,
    .comments_form select,
    .comments_form textarea,
    .edit__input,
    .edit__textarea {
        height: 56px;
        padding-inline: 20px;
        font-size: var(--large-font-size);
        line-height: 1rem;
    }

    .comments_form textarea,
    .edit__textarea {
        height: 140px;
        padding: 16px;
        resize: vertical;
        font-size: var(--large-font-size);
    }

    .form__buttons,
    .edit__buttons-container {
        gap: 40px;
    }

    .posts__container {
        margin-bottom: 0;
    }

    .posts__author {
        font-size: var(--large-font-size);
    }

    .posts__author-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 8px;
        margin-bottom: 20px;
    }

    .edit__button {
        font-size: var(--large-font-size);
        font-weight: 500;
    }

    .posts__title,
    .posts__content {
        font-size: var(--large-font-size);
    }

    .posts__reactions {
        gap: 16px;
        font-size: var(--largest-font-size);
    }
}