/* Main section styling with gradient background and full height */
.home {
    background-color: var(--first-gradient);
    min-height: 100vh;
}

 /* Wrapper for full viewport height */
.home__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    margin-bottom: 60px;
    width: 80%;
    margin: 0 auto;
}

/* Common styles for subtitle and job title */
.home__subtitle,
.home__job {
    font-weight: 700;
}

.home__subtitle,
.home__job span {
    font-size: var(--small-font-size);
    color: var(--title-color);
}

/* Primary color for highlighted text */
.home__subtitle span,
.home__title span {
    color: var(--primary-color);
}

/* Bold styling for job title */
.home__job b {
    font-family: var(--second-font);
    font-size: var(--h2-font-size);
    margin-left: 10px;
}

/* Title styling with shadow for depth */
.home__title {
    font-size: var(--biggest-font-size);
    text-shadow: 
      2px 2px 0 hsl(0, 0%, 0%),     
      -2px 2px 0 hsl(0, 0%, 0%),   
      2px -2px 0 hsl(0, 0%, 0%),  
      -2px -2px 0 hsl(0, 0%, 0%), 
      5px 5px 0 rgb(0 0 0 / 20%);
    line-height: 1.2;
    margin-top: 15px;
}

/* Description text styling */
.home__text {
    font-size: var(--large-font-size);
    margin-block: 40px 28px;
    max-width: 520px;
}

/* Container for social media links */
.home__socials {
    display: flex;
    column-gap: 20px;
    margin-bottom: 60px;
}

/* Individual social link styling */
.home__social-link {
    color: var(--title-color);
    font-size: var(--h5-font-size);
    transition: all 0.7s var(--transition);
}

/* Hover effect for social media links */
.home__social-link:hover {
    color: var(--primary-color);
}

/* Container for action buttons */
.home__btns {
    display: flex;
    column-gap: 70px;
}

/* Decorative line before the link */
.hero__link::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -97%;
    transform: translateY(-50%);
    width: 40px;
    height: 2px;
    background-color: var(--border-color);
}

/* Image wrapper for profile picture and shapes */
.home__img-wrapper {
    width: 100%;
    text-align: center;
    margin-top: 80px;
}

/* Circular banner for profile image */
.home__banner {
    border-radius: 50%;
    z-index: 2;
}

/* Profile image styling */
.home__profile {
    height: 100%;
    width: 90%;
    object-fit: cover;
    overflow: visible;
}

.home__data-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    position: relative;
    z-index: 2;
    gap: 110px;
}


/* Data card styling with border and shadow */
.home__data {
    border: 2px solid var(--border-color);
    background: var(--container-color);
    padding-inline: 4px;
    width: 250px;
    height: 80px;
    border-radius: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

/* Positioning for the first data card */
.home__data-one {
    transform: translateY(-125px);
}

/* Positioning for the second data card */
.home__data-two {
    transform: translateY(-80px);
}

/* Common text styles for data cards */
.home__data .text-lg,
.home__data .text-sm {
    color: var(--title-color);
    font-weight: 700;
}

/* Large text styling for data card */
.home__data .text-lg {
    width: 40%;
    text-align: center;
    font-size: 36px;
}

/* Small text styling for data card */
.home__data .text-sm {
    width: 55%;
    font-size: 13px;
    line-height: 1.5em;
    text-align: left;
}

/* Primary color for highlighted text in data cards */
.home__data .text-lg b,
.home__data .text-sm span {
    color: var(--primary-color);
}

/* Positioning for bold text in data cards */
.home__data .text-lg b {
    position: relative;
    top: -4px;
}

/* First shape positioning */
.shape__1 {
    width: 160px;
    height: 160px;
    top: 20%;
    right: 12%;
    z-index: 0;
}

/* Third shape positioning */
.shape__2 {
    width: 110px;
    height: 110px;
    bottom: 20%;
    right: 40%;
    z-index: 0;
}

@media (max-width:480px) {
    .home__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 2rem;
        margin-top: 60px;
    }

    .home__subtitle {
        padding-bottom: 4px;
    }

    .home__title,
    .home__job,
    .home__text {
        padding-bottom: 16px;
    }

    .home__socials {
        justify-content: space-around;
        padding: 12px 20px;
        margin-bottom: 28px;
    }

    .home__btns {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .home__img-wrapper {
        width: 100%;
        order: 2;
        margin-top: 0;
    }

    .home__container {
        order: 1;
    }

    .home__profile {
        height: auto;
        width: 100%;
    }

    .home__title,
    .home__text {
        margin: 0 auto;
    }

    .home__text {
        font-size: var(--large-font-size);
        margin-block: 0;
    }

    .home__data-container {
        flex-direction: row;
        gap: 0px;
    }

    .home__data {
        width: 170px;
        height: 60px;
    }

    .home__data-one {
        transform: translateY(-80px);
    }

    .home__data-two {
        transform: translateY(-40px);
    }

    .home__data .text-lg {
        font-size: var(--h3-font-size);
    }

    .home__data .text-sm {
        font-size: var(--small-font-size);
    }

    .home__data .text-lg b {
        position: relative;
        top: -4px;
    }

    .shape__1 {
        width: 120px;
        height: 120px;
        top: 100%;
        right: 12%;
    }
    
    .shape__2 {
        width: 80px;
        height: 80px;
        bottom: -45%;
        right: 70%;
    }
}