/* Main container for the blog post, centered with padding for spacing */
.blogpost__container {
    width: 100%;
    padding-top: 60px;
}

/* Container for the content of the blog post */
.blogpost__content {
    color: var(--text-color);
    text-align: center;
    min-height: 100vh;
    padding: 20px;
}

/* Styles for the main blog image */
.blogpost__imgOne {
    width: 30%;
    height: auto;
    margin-bottom: 20px;
}

/* Container for the blog content text */
.blog__content {
    width: 60%;
    font-size: var(--large-font-size);
    line-height: 1.7;
}

/* Container for image specifications */
.img__specscontainer {
    margin-bottom: 40px;
}

/* Styles for the heading of the image specs section */
.img__specsheading {
    font-size: var(--large-font-size);
    margin-bottom: 12px;
}

/* Container for the process description */
.img__processcontainer p {
    margin-bottom: 8px;
}

@media (max-width: 480px) {
    .blogpost__imgOne {
        width: 90%;
    }

    .blog__content {
        width: 100%;
    }

    .img__heading {
        font-size: var(--larger-font-size);
    }
}