/*------------------------------------*\
#GOOGLE FONTS
\*------------------------------------*/

/* Importing Google Fonts 'Jost' and 'Caveat' for styling */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


html {
  scroll-behavior: smooth;
}

/*------------------------------------*\
#CSS VARIABLES
\*------------------------------------*/

/* Root CSS variables for colors, typography, shadows, and transitions */
:root {
  /**
    * colors - Main color scheme and gradients for the website
    */
    --primary-color: hsl(10, 84%, 51%);
    --title-color: hsl(0, 0%, 8%);
    --text-color: hsl(0, 0%, 8%);
    --hover-text-color: rgb(255, 255, 255);
    --bg-color: rgb(255, 255, 255);
    --bg-color-alt: hsl(213, 10%, 21%);
    --container-color: hsl(0, 0%, 100%);
    --border-color: hsla(210, 2%, 65%);
    --first-gradient: linear-gradient (0deg, var(--bg-color-alt) 0%, var(--bg-color) 100%);
    --second-gradient: linear-gradient(180deg, var(--bg-color-alt) 0%, var(--bg-color) 100%);
    --third-gradient: linear-gradient (180deg, var(--bg-color) 0%, var(--bg-color) 100%);

    /**
    * typography - Font settings for different text elements
    */
    --body-font: 'Jost', sans-serif;
    --second-font: 'Caveat', cursive;

    /* Font sizes for headings and text */
    --biggest-font-size: 90px;
    --h1-font-size: 44px;
    --h2-font-size: 30px;
    --h3-font-size: 28px;
    --h4-font-size: 24px;
    --h5-font-size: 22px;
    --largest-font-size: 21px;
    --larger-font-size: 20px;
    --large-font-size: 16px;
    --normal-font-size: 16px;
    --small-font-size: 15px;
    --smaller-font-size: 14px;
    --tiny-font-size: 13px;

    /**
    * shadow - General shadow style for elements
    */
    --shadow: 5px 5px rgb(255 255 255 / 10%);

    /**
    * transition - Transition setting for smooth animations
    */
    --transition: cubic-bezier(0.5, 0.1, 0.25, 1);
  }

/*------------------------------------*\
#RESET
\*------------------------------------*/

/* Basic reset for consistent styling across browsers */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input,
body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

/* Body settings for background color and text color */
body {
  color: var(--text-color);
  background-color: hsl(16, 100%, 98%);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: 700;
}

ul {
  list-style: none;
}

p {
  line-height: 1.7;
}

/* Link styles without default underline */
a {
  text-decoration: none;
}

/* Remove borders and background for form elements */
input,
textarea,
button {
  border: none;
  outline: none;
  background: transparent;
}

/* Pointer cursor for buttons */
button {
  cursor: pointer;
}

/* Ensure images fit within container */
img {
  max-width: 100%;
}

/*------------------------------------*\
#REUSABLE CSS CLASSES
\*------------------------------------*/

/*------------------------------------*\
#HEADER STYLES
\*------------------------------------*/

/* Main header style */
.header {
  background-color: var(--bg-color); /* Set header background color to bg color */
  padding: 2rem 1.5rem 1.5rem 1.5rem; /* Top, right, bottom, left padding */
}

header.scrolled {
  box-shadow: 0 4px 8px rgba(150, 150, 150, 0.1); /* Adds a light shadow */
}

/* Navbar styling for layout and alignment */
.navbar {
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Space out navbar items */
  align-items: center; /* Vertically center items */
}

/* Logo container for alignment */
.logo-container {
  display: flex; /* Use flexbox to align logos */
  align-items: center; /* Center logos vertically */
}

/* Logo styling */
.logo {
  height: 40px; /* Set height of logo */
  margin-right: 1rem; /* Add space between logos */
  width: 50%;
}

/* Navigation link styling */
.nav-links {
  list-style: none; /* Remove bullets from the nav list */
  display: flex; /* Display links in a row */
}

.nav-links li {
  margin-right: 2rem; /* Space between each link */
}

/* Link styling with hover effect */
.nav-links a {
  color: var(--text-color); /* Set link color to text color */
  font-size: var(--large-font-size);
  font-weight: 500; /* Make links bold */
  transition: color 0.3s ease; /* Smooth color transition on hover */
}

.nav-links a:hover {
  color: var(--primary-color); /* Change link color on hover to primary color */
}

/* General container style with max width and center alignment */
.container {
  max-width: 1300px;
  padding-inline: 12px;
  margin-inline: auto;
}

/* Text style for uppercase and letter spacing */
.text-cs {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

/*------------------------------------*\
#BUTTON STYLES
\*------------------------------------*/

/* Button and hero link styling */
.btn,
.hero__link {
  color: var(--title-color);
  font-size: var(--tiny-font-size);
  font-weight: 700;
  height: 56px;
  display: grid;
  place-items: center;
  position: relative;
  z-index: 1;
}

.btn {
  border: 2px solid var(--border-color);
  padding-inline: 40px;
  border-radius: 56px;
  box-shadow: var(--shadow);
}

/* Hover effect for buttons */
.btn::before {
  content: '';
  position: absolute;
  inset: 2px;
  background-color: var(--primary-color);
  border-radius: inherit;
  transform: scale(0.3);
  filter: blur(10px);
  opacity: 0;
  transition: all 0.7s var(--transition);
  z-index: -1;
}

.btn:hover {
  color: var(--hover-text-color);
}

.btn:hover::before {
  transform: scale(1);
  filter: blur(0);
  opacity: 1;
}

/*------------------------------------*\
#LAYOUT ELEMENTS
\*------------------------------------*/

/* Shape styling for position and transparency */
.shape {
  position: absolute;
  opacity: 0.1;
}

/* Section padding */
.section {
  padding-bottom: 220px;
}

/* Section title and subtitle styling */
.section__title,
.section__subtitle {
  text-align: center;
}

.section__title {
  font-size: var(--h1-font-size);
}

.section__subtitle {
  color: var(--primary-color);
  font-size: var(--smaller-font-size);
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 60px;
}

.section__subtitle span {
  font-family: var(--second-font);
  color: var(--title-color);
  font-size: var(--h3-font-size);
  text-transform: capitalize;
  margin-left: 10px;
}

/*------------------------------------*\
#PROJECT & SKILLS STYLES
\*------------------------------------*/

/* Project grid layout */
.project__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  margin: 0 auto;
}

/* Project card styling with hover effect */
.project__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  border: 2px solid hsl(16, 100%, 98%);
  min-width: 580px;
  max-height: 480px;
  overflow: hidden; 
  border-radius: 18px;
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.project__card:hover {
  background: hsl(0, 0%, 100%);
  transform: scale(1.02);
  box-shadow: 0 16px 24px rgba(185, 138, 121, 0.2);
}

/* Skills grid layout */
.skills__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.skills__item {
  background-color: var(--container-color);
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 20px;
  border: 2px solid hsl(16, 100%, 98%);
  min-width: 220px;
  max-height: 480px;
  overflow: hidden; 
  border-radius: 18px;
}